<ul>
<% TODOS.each_with_index do |todo, i| %>
<li>
	<%= todo.text %>
	<% if todo.done %>
		- DONE
	<% else %>
		<a href='/done/<%= i %>'>
			Complete </a>
	<% end %>

	<% if todo.important %>
		- Important
	<% else %>
		<a href='/important/<%= i %>'>
			Do
	<% end %>
	</li>
<!-- equal sign in erb means it prints to the screen -->
<% end %>
</ul>

<form action="/add" method="post">
	<input type="text" name="todo"/>
	<input type="submit" value="Add To Do"/>
</form>
