<p>add two numbers</p>

<form action="/add" method="post">
	<input type="text" name="num1"/>
	<input type="text" name="num2"/>
	<input type="submit" value="Add"/>
</form>

<p>Your answer is <%= answer %></p>


