<h2>So Good To See You Again</h2>
<form class="formlogin" action="/admin" method="GET">
	<input class="email" type="text" name="name" placeholder="Name"/><br>
	<input class="email" type="text" name="email" placeholder="Password"/><br>
	<input class="notify notifylogin" type="submit" value="Login"/>
</form>
