<div class="jumbotron">
	<div class="container">
		<h1>We grow your social accounts so you don't have to</h1>
		<h2>We launch in 8 weeks. Add your email to get notified.</h2>

		<form action="/submit" method="GET">
			<input class="email" type="text" name="email" placeholder="What's your email?"/><br>
			<input class="notify" type="submit" value="Notify Me"/>
		</form>
	</div>
</div>
